{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "embeddedLanguageFormatting": "auto"
}
